<app-navbar></app-navbar>

<mat-card class="card">
  <mat-card-header class="title">
    <mat-card-title>Upload Image</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <input #fileInput hidden="true" type="file" onclick="this.value=null" (change)="readyUpload($event)"/>
    <div (click)="fileInput.click()" class="selectFileText"> {{fileName ? fileName : 'Select Image...'}} </div>
    <div>
      <button mat-flat-button class="submitBtn" color="primary" (click)="uploadFile()">Submit</button>
    </div>
  </mat-card-content>
</mat-card>

